@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@300;400;500;700&family=Sono:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.2rem;
  font-family: sans-serif;
  font-weight: 400;
  background-color: #767676;
  color: #555;
}

.container {
  height: 80vh;
  border: 6px solid #e67e22;
  border-radius: 8px;
  width: 36%;
  padding: 3rem;
  margin: 10rem auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 4rem;
  /* background-color: #f7f2e9; */
  overflow-y: auto;
  /* overflow-x:  */
  background-color: #fdf2e9;
}

.header {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
  color: #777;
}

.items {
  /* border: 2px solid violet; */
}

.shopping-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.input {
  color: inherit;
  display: block;
  font-family: inherit;
  padding: 1rem;
  background-color: #f5cba7;
  color: #45260a;
  width: 60%;
  border: none;
  border-radius: 5px;
  font-size: inherit;
}

.btn {
  color: #45260a;
  font-size: inherit;
  display: block;
  color: inherit;
  font-family: inherit;
  padding: 1rem 1.8rem;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: all 0.3s;
  background-color: #f5cba7;
  /* box-shadow: ; */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #cf711f;
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.items-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.item {
  /* border: 2px solid salmon; */
  display: inline-block;
  padding: 1rem 2rem;
}

.item > div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background-color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  transition: all 0.3s;
}

.item > div:hover {
  background-color: #fae5d3;
  transform: scale(1.05);
}

.item .btn-delete {
  border: none;
  background: none;
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(230, 125, 34, 0.5);
}
